<div class="modal-login">
	<form>
		<div class="modal-header">
			<button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
			<h4 class="modal-title">Login</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<i>@</i>
						</span>
						<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<i class="glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
					</div>
					<br>
					<div class="input-group right">
						<a href="#" class="btn btn-primary">Ok</a>
					</div>

				</div>
				<div class="col-lg-6">
					<a href="#" class="btn btn-primary">
						<i class="fa fa-facebook-official"></i>
						Logar pelo Facebook
					</a>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			
		</div>
	</form>
</div>