<div class="modal-register">
	<form ng-submit="register(form);"  name="form"  novalidate>
		<div class="modal-header">
			<button type="button" ng-click="$dismiss()" class="close">&times;</button>
			<h4 class="modal-title">Criar conta</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group" ng-class="{ 'has-success': form.name.$valid && submitted.register,
                                            'has-error': form.name.$invalid && submitted.register }">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
						<input type="text" ng-model="userRegister.name" required name="name" class="form-control" placeholder="Nome" aria-describedby="basic-addon1" mongoose-error>
						
					</div>
					<p class="help-block" ng-show="form.name.$error.required && submitted.register">Nome é obrigatório.</p>
					<br>
					<div class="input-group" ng-class="{ 'has-success': form.email.$valid && submitted.register,
                                            'has-error': form.email.$invalid && submitted.register }">
						<span class="input-group-addon">
							<i>@</i>
						</span>
						<input type="email" name="email" ng-model="userRegister.email" required class="form-control" placeholder="Email" aria-describedby="basic-addon1" mongoose-error>
					</div>
					<p class="help-block" ng-show="form.email.$error.email && submitted.register">Digite um email válido.</p>
					<p class="help-block" ng-show="form.email.$error.required && submitted.register">Digite seu email.</p>
					<p class="help-block" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
					<br>
					<div class="input-group" ng-class="{ 'has-success': form.password.$valid && submitted.register,
                                            'has-error': form.password.$invalid && submitted.register }">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" ng-model="userRegister.password" name="password" required class="form-control" placeholder="Senha" aria-describedby="basic-addon1" mongoose-error>
					</div>
					<p class="help-block"
             		ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted.register">Sua senha deve ter no mínimo 3 caracteres.</p>
					<p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.password }}</p>
					<br>
					<div class="input-group right">
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</div>

				</div>
				<div class="col-lg-6">
					<a href="#" ng-click="registrerProvide('facebook')" class="btn btn-primary block">
						<i class="fa fa-facebook-official"></i>
						&nbsp;&nbsp;
						Cadastre-se pelo Facebook
					</a>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			
		</div>
	</form>
</div>