// bower:scss
// endbower

@import 'g';

//colors
$color_alabaster_approx: #f9f9f9;

body {
  overflow-x: hidden;
  .container {
    min-width: 960px;
    width: 100%;
  }
}
#player1 {
  width: 100%;
  height: 100%;
}
.fixed {
  position: fixed;
}
#navegator {
  height: 100%;
}
.playlist-title {
  margin-bottom: 15px;
}
#playlist {
  /*min-height: 352px;*/
  height: 352px;
  
  ul{
    /*li{
      small {
        float: right;
        width: 46%;
        font-weight: bold;
        margin-top: 0px;
        span {
          font-weight: normal;
          display: block;
          margin-top: 3px;
        }
      }
    }
    .remove {
      position: absolute;
      right: 10px;
      bottom: 5px;
      color: rgba(216, 0, 0, 0.63);
      font-size: 14pt;
      cursor: pointer;
      top: auto;
    }*/
  }
}
li.playlist-item{
  img {
    width: 110px; /*120px;*/
  }
  small {
    float: right;
    width: 46%;
    font-weight: bold;
    margin-top: 0px;
    span {
      font-weight: normal;
      display: block;
      margin-top: 3px;
    }
  }
  
  .remove {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: rgba(216, 0, 0, 0.63);
    font-size: 14pt;
    cursor: pointer;
    top: auto;
  }
}
#videoCtrl {
  position: absolute;
  bottom: 0;
  width: 88%;
  text-align: center;
}
#search {
  margin-top: 17px;
}
.search-modal {
  .panel {
    background: $color_alabaster_approx;
  }
  .hero-feature {
    h4 {
      font-size: 16px;
      //Instead of the line below you could use @include word-break($value)
      word-break: break-word;
    }
    img {
      max-width: 120px;
      min-height: 90px;
    }
  }
  .form-control {
    margin-bottom: 15px;
  }
}
.search-modal-close{
  position: absolute;
  right: -43px;
  top: -12px;
  font-size: 16pt;
  color: #000;
}
hr.small {
  margin: 5px 0;
}
.playlist-infos span {
  font-size: 9pt;
}
