<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playlist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.theme.min.css" />
    <link rel="stylesheet" href="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"
        type="text/css"/>
    <link rel="stylesheet" href="vendor/g.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->
  </head>
  <body ng-app="easylistApp">
    <!-- Page Content -->
    <div ng-controller="MainController" class="container no-padding">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-9">
              <div class="container">
                  <!-- Blog Post -->
                  <header>
                    <div id="header" class="inline-block">
                      <div class="col-md-3">
                        <!-- Title -->
                        <h1 id="logo">Playlist</h1>
                      </div>
                      <div  class="col-md-9">
                        <div id="search" class="input-group" >
                          <input value="" ng-keyup="fakeSearchKeyUp()" ng-model="searchTerm" type="text" class="form-control" placeholder="Pesquisar vídeo no Youtube e Vimeo" />
                          <span class="input-group-btn">
                            <button ng-click="fakeSearchKeyUp()" class="btn btn-info" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </header>
                  <div class="clear clearfix"></div>
                  <pre class="hide">{{currentVideo.iframeSrc}}</pre>
                  <div class="intro" ng-class="{hide: videoList.length}">
                    <p>
                      texto e imagem mostrando como utilizar pela primeira vez.
                      Compartilhe a idéia para que essa ferramenta seja sempre grátis!
                    </p>
                  </div>
                  <div id="video" class="hide" ng-class="{hide: !videoList.length}">
                    <iframe id="player1" ng-src="{{currentVideo.iframeSrc}}" src=""  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div> 
              </div>  
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div  class="col-md-3">
                <!-- Blog Search Well -->
                <div id="navegator" class="well fixed">
                    <!--h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div-->
                    <!-- /.input-group -->
                    <h4>Adicionar Vídeo</h4>
                    <div class="input-group" ng-controller="VideoUploaderController">
                        <input value="" placeholder="Cole aqui a URL do vídeo" ng-model="url" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button ng-click="send()" class="btn btn-info" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        </span>
                    </div>
                    <hr>
                    <div ng-controller="VideoListController" >
                      <h5 class="playlist-title" ng-cloak> Lista de reprodução ({{videoList.length}}):</h5>
                      <div id="playlist" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
                        <ul  class="nav nav-pills nav-stacked">
                          <li ng-class="{'active':item.id == currentVideo.id}" ng-repeat="item in videoList" ng-click="currentVideo.setVideo(item);" class="vid-{{item.id}}"  >
                            <a href="#">
                              <img ng-src="{{item.media.small}}" />
                              <small ng-cloak>
                                {{item.title}}
                                <span>
                                <i class="glyphicon glyphicon-time"></i>&nbsp; {{item.duration.formatted}}
                                </span>
                              </small>
                              <div class="clear clearfix"></div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <hr class="small">
                      <div class="playlist-infos">
                        <div  class="col-md-2">
                          <!-- <span class="playlist-count" ng-bind="videoList.length"></span>
                          <span>
                              <ng-pluralize count="videoList.length"
                                when="{'0': 'Vídeos',
                                     'one': 'Vídeo',
                                     'other': 'Vídeos'}">
                              </ng-pluralize>
                          </span> -->
                        </div>
                        <div class="col-md-10 text-right" ng-cloak>
                          <span>
                            Tempo total: 
                            {{videoListDuration()}}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="" id="videoCtrl">
                      <ul ng-controller="VideoPlayerController" class="pagination pagination-sm">
                         <li>
                            <button class="btn btn-default" ng-disabled="!videoList.length || videoList[0].id == currentVideo.id" ng-click="Player.prev();" href="javascript:void(0)">
                              <i class="glyphicon glyphicon-backward"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default" ng-disabled="!videoList.length" ng-click="Player.play();" href="javascript:void(0)">
                              <i ng-class="Player.isPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'" class="glyphicon glyphicon-play"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default" ng-disabled="!videoList.length || videoList[videoList.length - 1].id == currentVideo.id" ng-click="Player.next();" href="javascript:void(0)">
                              <i class="glyphicon glyphicon-forward"></i>
                            </button>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <div class="modal search-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div  class="modal-content panel">
               <input value="" ng-keyup="requestSearch()" ng-model="searchTerm" type="text" class="form-control" placeholder="Pesquisar vídeo no Youtube e Vimeo" />
               <div ng-controller="SearchController" class="row content text-center">
                 <div masonry load-images="true" data-reload-on-show masonry-options="{isFitWidth: false, percentPosition: true, columnWidth: '.col-md-3' }" class="result-wrapper">
                   <div ng-repeat="item in resultItems" class="col-md-3 col-sm-6 hero-feature masonry-brick">
                    <div class="thumbnail">
                        <img height="90" ng-src="{{item.image}}" alt="">
                        <span ng-bind="item.origin"></span>
                        <div class="caption">
                            <h4 ng-bind="item.title"></h4>
                            <a ng-click="addToVideoList(item.url);" href="#" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Adicionar a lista</a>
                            </p>
                        </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
   
    </div>
    <!-- /.container -->



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/underscore-min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/masonry-master/dist/masonry.pkgd.min.js"></script>
    <script src="vendor/imagesloaded.pkgd.min.js"></script>
    <script src="vendor/angular-masonry.min.js"></script>
    <!--script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script-->
    <script src="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="vendor/ng-scrollbars/dist/scrollbars.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
     <script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
     <script src="https://www.youtube.com/iframe_api"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/factories.js"></script>
        <script src="scripts/controllers.js"></script>
        <!-- endbuild -->
</body>
</html>