$sidebarBG: #0C090A;
$featured-color: #cd0f37;
$sidebar-padding: 23px;
$sidebar-opacity: 0.3;
$videolist-scroll-width: 8px;
$videolist-selectedBG: #373334;

.btn-featured{
    background: $featured-color;
    border-color: $featured-color;
    color: #eae8e9;
}