.sidebar-custom {
    width: 342px; /*344px;*/
    float: left;
    background: #1e1b1c;
    color: #fff;
    
    #logo{
        background: url(../images/logo.png);
        width: 241px;
        height: 48px;
        margin: 35px 50px;
    }
}