// bower:scss
// endbower

@import "g";

//colors
$color_alabaster_approx: #f9f9f9;

body {
  overflow-x: hidden;
  &.dragging{
    background: blue;
  }
  .container {
    min-width: 960px;
    width: 100%;
  }
}
#player1 {
  width: 100%;
  height: 100%;
}
.fixed {
  position: fixed;
}
.logged-info-box{
  .lang-select{
    bottom: 0;
  }
}
.lang-select{
  float: right;
  position: relative;
  left: 38px;
  bottom: 19px;
}
.intro{
  .drop-place{
    border: 5px dotted #666;
    font-size: 25pt;
    padding: 200px 82px;
    margin: 13px 0px;
    line-height: 45px;
    text-align:center;

    i{
      font-size:30pt;
    }
  }
}
#navegator {
  height: 100%;
  .playlist-nav-manage{
    .right{
      float:right;
    }
    .left{
      float:left;
    }
    a{
      color:#000;
      text-decoration:none;
    }
    .create-user{
      float: left;
      width: 58%;

      input{
        height: 23px;
      }
    }
    .playlist-name{
      .dropdown-menu{
        .fa{
          float:right;
          margin-top:2px;
        }
      }
    }
  }
}
.playlist-title {
  margin-bottom: 15px;
}
.logged-info-box{
  margin-top:20px;
  a{
    color:#000;
  }
}
#playlist {
  /*min-height: 352px;*/
  height: 352px;
  
  ul{
    /*li{
      small {
        float: right;
        width: 46%;
        font-weight: bold;
        margin-top: 0px;
        span {
          font-weight: normal;
          display: block;
          margin-top: 3px;
        }
      }
    }
    .remove {
      position: absolute;
      right: 10px;
      bottom: 5px;
      color: rgba(216, 0, 0, 0.63);
      font-size: 14pt;
      cursor: pointer;
      top: auto;
    }*/
  }
}
li.playlist-item{
  img {
    width: 110px; /*120px;*/
  }
  small {
    float: right;
    width: 46%;
    font-weight: bold;
    margin-top: 0px;
    span {
      font-weight: normal;
      display: block;
      margin-top: 3px;
    }
  }
  
  .remove {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: rgba(216, 0, 0, 0.63);
    font-size: 14pt;
    cursor: pointer;
    top: auto;
  }
}
#videoCtrl {
  position: absolute;
  bottom: 0;
  width: 88%;
  text-align: center;
}
.main-nav {
  margin: 17px 0;
}
.search-modal {
  .panel {
    background: $color_alabaster_approx;
  }
  .hero-feature {
    h4 {
      font-size: 16px;
      //Instead of the line below you could use @include word-break($value)
      word-break: break-word;
    }
    img {
      max-width: 120px;
      min-height: 90px;
    }
  }
  .form-control {
    margin-bottom: 15px;
  }
}
.search-modal-close{
  position: absolute;
  right: -43px;
  top: -12px;
  font-size: 16pt;
  color: #000;
}
hr.small {
  margin: 5px 0;
}
.playlist-infos span {
  font-size: 9pt;
}

.clean-playlist-button{
  font-size: 9pt;
  float:right;
}

#dragContainer{
  opacity: 0.7;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  position: fixed;
  z-index: 3;
  &.dragging{
    display: block;
  }

  h1{
    text-align: center;
    margin-top: 92px;
  }
}